.map-marker {
  position: relative; /* REQUIRED for triangle */
  min-width: 28px;
  height: 28px;
  padding: 0 8px;

  background: #0034c1;
  border-radius: 6px;

  color: #ffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%);
  white-space: nowrap;
  transition: scale ease 0.15s;
  z-index:2;
}
.map-marker::after {
  content: "";
  position: absolute;
  bottom: -6px;            /* pushes triangle below square */
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0034c1; /* same as background */
}
.map-marker::before {
  content: "";
  position: absolute;
  bottom: -7px;            /* slightly lower */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
}

.map-marker--selected::after {
  border-top-color: #eff6ff;
}
.map-marker--selected::before {
  border-top-color: #1d4ed8; /* same as square border */
}

.map-marker:hover{
  cursor:pointer;
  scale:1.1;
}

.map-marker--selected {
  border: 0.5px solid #1d4ed8;      
  background: #eff6ff;        
  color:#1d4ed8;
  box-shadow: 0 4px 10px rgba(29, 78, 216, 0.5);
}

.start-marker{
  background:#00fff2;
  color:#008b92;
  border:0.5px solid #008b92;

}

.end-marker{
  background:#008b92;
  color:#00f2ff;

}