name: Deploy Frontend to S3 + CloudFront

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: |
            echo "VITE_API_BASE_URL=${{ vars.VITE_API_BASE_URL }}" >> .env.production
            echo "VITE_GOOGLE_MAPS_KEY=${{ vars.VITE_GOOGLE_MAPS_KEY }}" >> .env.production
            echo "VITE_GOOGLE_MAPS_MAP_ID_LIGHT=${{ vars.VITE_GOOGLE_MAPS_MAP_ID_LIGHT }}" >> .env.production
            echo "VITE_GOOGLE_MAPS_MAP_ID_DARK=${{ vars.VITE_GOOGLE_MAPS_MAP_ID_DARK }}" >> .env.production
            echo "VITE_GOOGLE_MAPS_MAP_ID_COMON_MAP=${{ vars.VITE_GOOGLE_MAPS_MAP_ID_COMON_MAP }}" >> .env.production
            echo "VITE_USE_DUMMY_DATA=${{ vars.VITE_USE_DUMMY_DATA }}" >> .env.production
                
            npm run build

      - name: Sync build to S3
        run: aws s3 sync dist/ s3://delivery-frontend-app --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-north-1

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E16F4UEPFT2P6Y --paths "/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-north-1
          